
input[type="text"], textarea, input[type="submit"] {
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	outline:none;
	border-radius:0px;
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	max-width:640px;
}

::-webkit-input-placeholder {}

.panel {
	float:left;
	width:100%;
	border-radius:0px;
	padding:0px;
	margin:0px;
	box-shadow:none;
	background:none;
	border:none;
}

.flush {
	padding:0px;
}

.flush-left {
	padding-left:0px;
}

.flush-right {
	padding-right:0px;
}

ul {
	margin:0px;
	padding:0px;
}

section {
	float:left;
	width:100%;
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.tableRow {
	display:table;
	width:100%;
	height:100%;
	vertical-align:middle;
}

.tableCell {
	display:table-cell;
	width:100%;
	height:100%;
	vertical-align:middle;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Source Sans Pro', sans-serif;
	color:#000;
	margin:10px 0px;
}

p,label {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	color:#000;
}

.btn-success,.btn-info,.btn-primary {
	display:inline-block;
}


@font-face {
    font-family: 'fontawesome-webfont';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/fontawesome-webfont.woff') format('woff'),
         url('../fonts/fontawesome-webfont.ttf') format('truetype'),
         url('../fonts/fontawesome-webfont.svg#fontawesome-webfont') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Header Style */

#header {
	background:url(../images/banner-1.jpg) 50% 50% no-repeat;
	background-size:cover;
	padding:40px 0px;
}

#header h2 {
	color:#ffffff;
	font-size:40px;
}

#header  h3 {
	font-size:28px;
	text-transform:uppercase;
	color:#ffffff;
}

#header.dashboard {
	background:#6f85c2;
	padding:10px 0px;
}

#header.dashboard.two {
	background:#7d8ee1;
}

#header.dashboard a  {
	color:#fff;
	font-size:20px;
}

#header.dashboard a .fa {
	float:right;
	margin-top:5px;
}

#header a.account .fa {
	float:left;
	margin-right:10px;
}

/* Content Style */
#content {
	padding:0px 0px;
}

#content .profile {
	display:inline-block;
	width:100%;
	background:url(../images/profile-bg.jpg) 50% 50% no-repeat;
	padding:12px 0px;
	background-size:cover;
}

#content .profile img.high {
	width:100%;
}

#content .profile a {
	display:inline-block;
	position:relative;
	text-align:center;
}

#content .profile a span {
	position:absolute;
	bottom:5px;
	right:-10px;
}

#content .profile  h4 {
	font-size:24px;
	color:#ffffff;
	font-weight:600;
}

#content .profile h5 {
	color:#ffffff;
	font-size:16px;
}

#content .profile h6 {
	color:#ffffff;
	font-size:14px;
}

#content .top-head {
	display:inline-block;
	width:100%;
}


#content .top-head.account .nav-tabs {
	border-bottom:3px solid #e5e9eb;
}

#content .top-head .nav-tabs>li>a {
	margin:0px;
	font-size:13px;
	text-transform:uppercase;
	color:#c0c4cb;
	border-bottom:3px solid transparent;
	margin-bottom:-2px;
}

#content .top-head  .nav-tabs>li {
	float:none;
	display:inline-block;
}

#content .top-head.account .nav-tabs>li {
	float:left;
}

#content .top-head.account .nav-tabs>li.active a {
	color:#535353;
	border-bottom:3px solid #535353 !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border:none;
	background:none;
	border-bottom:3px solid #adb9c9 !important;
}

#content .tab-content .details {
	display:inline-block;
	width:100%;
	border-bottom:1px solid #ebeff3;
	background:url(../images/arrow.png) 95%  50% no-repeat;
	padding:2px 0px;
}

#content .tab-content .details.last {
	border:none;
}

#content .tab-content .details h6 {
	color:#292b33;
	font-size:16px;
	font-weight:600;
	margin:7px 0px;
}

#content .tab-content .account-form input {
	background:#fff;
	border-color:#f3f5f8;
}

#content .tab-content .account-form .user {
	position:relative;
}

#content .tab-content .account-form .user:before {
	position:absolute;
	top: 16px;
	left: 30px;
	font-family: 'fontawesome-webfont';
	content:'\f2c0 ';
	color:#dbe1eb;
	font-size:18px;
}

.p-right-normal {
	padding-right:7px;
}

.p-left-normal {
	padding-left:7px;
}

#content .tab-content .account-form .email:before {
	position:absolute;
	top: 16px;
	left: 30px;
	font-family: 'fontawesome-webfont';
	content:'\f003';
	color:#dbe1eb;
	font-size:18px;
}

#content .tab-content .account-form .phone:before {
	position:absolute;
	top: 16px;
	left: 30px;
	font-family: 'fontawesome-webfont';
	content:'\f10b';
	color:#dbe1eb;
	font-size:24px;
}

#content .tab-content .account-form .fax:before {
	position:absolute;
	top: 16px;
	left: 30px;
	font-family: 'fontawesome-webfont';
	content:'\f1ac';
	color:#dbe1eb;
	font-size:18px;
}

#content .tab-content .account-form .relationship:before {
	position:absolute;
	top: 16px;
	left: 30px;
	font-family: 'fontawesome-webfont';
	content:'\f0c1';
	color:#dbe1eb;
	font-size:18px;
}

#content .tab-content .account-form .photo:before {
	position:absolute;
	top: 16px;
	left: 30px;
	font-family: 'fontawesome-webfont';
	content:'\f030 ';
	color:#dbe1eb;
	font-size:18px;
}

#content .tab-content .account-form .photo:after {
	position:absolute;
	top: 16px;
	right: 30px;
	font-family: 'fontawesome-webfont';
	content:'\f0ee';
	color:#dbe1eb;
	font-size:18px;
}

#content .tab-content .account-form .photo {
	margin-bottom:5px;
}

#content form.account-form {
	padding:15px 0px 80px 0px; 
}

#content .tab-content .account-form input[type="submit"] {
	background:#6f85c2;
	text-transform:uppercase;
}

#content .tab-content .account-form .password:before {
	position:absolute;
	top: 16px;
	left: 30px;
	font-family: 'fontawesome-webfont';
	content:'\f023';
	color:#dbe1eb;
	font-size:18px;
}

#content .tab-content .account-form.address-details input {
	padding-left:15px !important;
}

input[type="submit"] {
	padding-left:0px !important;
}

#content .nav-tabs {
	background:#ebeff3;
	padding:0px 5px;
	border:none;
	text-align:center;
}

#content .tab-content .details span {
	color:#8c8c92;
	font-size:14px;
}

#content .tab-content .details span b {
	color:#000;
	font-weight:normal;
}

#content .tab-content .details h5 .fa {
	margin-right:5px;
}

#content .tab-content .details h5 {
	color:#8d8d93;
	font-size:14px;
	margin:7px 0px;
}

#content .tab-content .details  .img-high img {
	width:100%;
	margin-top:10px;
}

#content form {
	display:inline-block;
	width:100%;
	padding:10px 0px;
}

#content form input {
	background:#f8f9fa;
	width:100%;
	border-radius:5px;
	height:45px;
	border:1px solid #adb9c9;
	font-size:18px;
	color:#7b7b7b;
	padding-left:40px;
	margin:7px 0px;
}

#content form.account-form.insurance input {
	border:1px solid #cad3df;
	background-color:#f8f9fa;
	color:#c5cedd;
	font-size:14px;
	padding-left:15px;
}

#content form.account-form.insurance .pdf button {
	border:1px solid #cad3df;
	background-color:#f8f9fa;
	color:#c5cedd;
	padding:25px 0px;
	text-align:center;
	font-size:14px;
	width:100%;
	margin:7px 0px;
}

#content form.account-form.insurance input[type="submit"] {
	background:#6f85c2;
	color:#fff;
	font-size:18px;
}

#content form.account-form.insurance input[type="datetime"] {
	background:#f8f9fa url(../images/date.png) 96% 50% no-repeat;
}

#content form.account-form.insurance input::-webkit-input-placeholder {
	color:#c5cedd;
}

#content input.search {
	border:1px solid #d5dce5;
	width:100%;
	border-radius:5px;
	background:#f8f9fa url(../images/search.png) 95% 50% no-repeat;
	margin-top:15px;
	padding-left:15px;
	font-size:20px;
	font-weight:600;
	height:40px;
}

#content ul.item {
	display:inline-block;
	width:100%;
	border-radius:5px;
	margin-top:15px;
	border:1px solid #cbd4e0;
}

#content ul.item li {
	display:inline-block;
	background:#f8f9fa;
	border-right:1px solid #cbd4e0;
	padding:0px;
}

#content ul.item li:last-child {
	border:none;
	border-radius:0px 5px 5px 0px;
}

#content ul.item li:first-child {
	border-radius:5px 0px 0px 5px;
}

#content .faq-details {
	padding-bottom:60px;
	display:inline-block;
	width:100%;
}

.border-none {
	border-bottom:none !important;
}

#content .faq-details .personal-details {
	background:url(../images/arrow.png) 99% 50% no-repeat;
}

#content .faq-details .personal-details h6 {
	color:#96a4b1;
	font-size:14px;
	line-height:20px;
	padding-right:25px;
}

#content .faq-details .personal-details h5 {
	color:#1b2529;
	font-size:16px;
}

#content ul.item li  a {
	color:#c5cfdd;
	display:inline-block;
	text-align:center;
	font-size:15px;
	line-height:40px;
	width:100%;
}

#content form input[type="email"] {
	background:#f8f9fa url(../images/mail-icon.png) 10px 50% no-repeat;
}

#content form input[type="password"] {
	background:#f8f9fa url(../images/password-icon.png) 10px 50% no-repeat;
}

#content form input[type="submit"] {
	background:#3f4553;
	color:#fff;
	padding-left:0px;
}

#content form label {
	color:#bcc0c8;
	font-size:16px;
	font-weight:normal;
	margin-bottom:10px;
}

#content  a.btn-success {
	display:inline-block;
	width:100%;
	color:#ffffff;
	background:#3b5998;
	font-size:15px;
	border-radius:5px;
	line-height:50px;
	text-align:center;
	letter-spacing:1px;
	text-decoration:none;
	margin-bottom:10px;
}

#content  a.btn-success.google {
	background:#da4939;
}

#content form label a {
	color:#3f4553;
}

#content form  label.font-text {
	color:#7b7b7b;
	font-size:18px;
	font-weight:600;
}

#content .select-cate {
	display:inline-block;
	width:100%;
}

#content .select-cate a.btn-info {
	border:1px solid #dde3ea;
	border-radius:4px;
	width:100%;
	padding:10px 0px;
	text-align:center;
	color:#c5cfdd;
	font-size:15px;
	text-decoration:none;
	background:#f8f9fa;
}

#content .select-cate a.btn-info.slot {
	background:#ffffff url(../images/mark.png) 96% 5px no-repeat;
	color:#b0b8c3;
}

#content .select-cate a.btn-info span {
	display:inline-block;
}

#content .select-cate .normal-space {
	padding:0px 7px;
}

#content .select-cate h5 {
	color:#263238;
	font-size:17px;
	font-weight:600;
}

#content .personal-details {
	display:inline-block;
	width:100%;
	border-bottom:1px solid #eff2f5;
	padding:10px 0px;
}

#content .personal-details h5 {
	color:#272b33;
	font-weight:600;
}

#content .personal-details h6 {
	color:#8c8c92;
	font-size:14px;
}

#content .personal-details .switch {
	height:20px;
	margin-top:5px;
	width:50px;
}

#content .personal-details .slider {
	 background-color: #cdd4d6;
}

#content .personal-details input:checked + .slider {
    background-color: #3f4553;
}

#content .personal-details .slider:before {
	height:14px;
	width:14px;
}

#content .personal-details .btn-menu {
	display:inline-block;
	font-size:12px;
	color:#7b7b7b;
	line-height:26px;
}

#content .personal-details .btn-menu .slider:before {
	left:0px;
}

#content .personal-details.bottom-space {
	padding-bottom:25px;
}

#content .personal-details .btn-menu input:checked + .slider {
	background:#6c81bd;
}

#content .slider.slider-horizontal {
	background:none;
	width:100%
}

#content .normal {
	padding:15px 0px;
}

#content .bottom-normal {
	padding-bottom:80px;
}

#content .personal-details .top-text {
	color:#8c8c92;
	font-size:12px;
}

#content .slider.slider-horizontal .slider-track {
	box-shadow:none;
	background:#e1e7ed;
}

.slider-selection {
	background:#6f85c2;
	box-shadow:none;
}

.slider-handle {
	width:25px;
	height:25px;
	border:6px solid #fff;
	top:-3px;
	background:#6f85c2;
}

#content .personal-details .btn-menu .switch {
	width:40px;
	float:right;
	margin-left:5px;
}

#content .insurance-details {
	display:inline-block;
	width:100%;
	border-bottom:1px solid #eff2f5;
}

.m-top-flush {
	margin-top:0px !important;
}

#content .insurance-details h4 {
	font-size:16px;
	text-transform:uppercase;
	color:#d1d3d6;
}

#content .insurance-details h4.small-size {
	font-size:14px;
	margin-bottom:5px;
}

#content .insurance-details h6.small-size {
	font-size:12px;
	margin-top:0px;
}

#content .insurance-details h6 {
	color:#292b33;
	font-size:14px;
}

#content .insurance-details a.btn-primary {
	width:100%;
	display:inline-block;
	color:#fff;
	font-size:17px;
	line-height:40px;
	background:#3f4553;
	border-radius:5px;
	text-align:center;
	text-decoration:none;
}

#content .insurance-details a.btn-primary.intro {
	background:#eceff3;
	border:2px solid #cad3df;
}

#content .insurance-details span {
	display:inline-block;
	width:100%;
}

#content .insurance-details span.back-btn {
	display:none;
	color:#3f4553;
}


#Back {
	display:none;
	padding:20px 0px 70px 0px;
}

#Back img {
	width:100%;
}

/** Switch **/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6f85c2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Footer Style */
#footer {
	position:fixed;
	bottom:0%;
	left:0%;
	background:#f8f9fa;
	border-top:1px solid #dde2e8;
}

#footer ul li {
	list-style:none;
	display:inline-block;
	text-align:center;
	padding:5px 0px;
	border-right:1px solid #dde2e8;
	background:#f8f9fa;
}

#footer ul li.active,#footer ul li:hover {
	background:#fff;
	color:#b7c1cf;
}

#footer ul li  a {
	font-size:12px;
	text-decoration:none;
	color:#d2d9e2;
}


/*****======= Responsive Style Css ======***********/

/* Landscape phones and portrait tablets */
@media (max-width: 767px){

.navbar-default .navbar-brand img {
}

.container {
	width:100%;
}

.navbar-default .navbar-toggle {
	margin-top:15px;
	margin-right:0px;
}


#header .navbar-default .navbar-nav > li > a {
	text-align:center;
}

.navbar-default .navbar-toggle .icon-bar {
	background:#000;
}


}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1169px) {
}